<!DOCTYPE html>
<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">La Quinta</a>
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			 <div class="jumbotron">
					<div class="container">
			    			<!--Contenido de la partida -->
			    			<p>Bienvenido al juego de la quinta</p>
			    			<p>El mismo consiste en un exitante duelo entre dos jugadores para descubrir cual es el mas rapido e inteligente dado problemas matematicos propuestos por una baraja de cartas</p>
			    			<div class="container" >
								<span>Instrucciones</span>
								<p>Instrucciones van aqui</p>
			    			</div>
		    		</div>
	    		</div>
    		</div>
    		<div class="col-md-2">
    			 <div class="">

	    			<h3>Partidas</h3>
	    			<div class="list-group">
						<div class="list-item">
							<span>Partida 123</span>
							<a class="btn btn-xs btn-primary" type="button" href="/partida/123">
								Unirse
							</a>
						</div>
					</div>
				</div>
    		</div>
    	</div>
    </div>

    
  </body>
</html>