<!DOCTYPE html>
<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <head>
    <title> Partida Numero <%= partidaId %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/default">La Quinta</a>
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			<!--Contenido de la partida -->
    			<div class="jumbotron">
					<div class="container">
						<div class="container">
							<p>Jugador Remoto</p>
						</div>
					</div>
    				<div class="jumbotron">
						<div class="container">

							<p>Partida en si</p>
              <div class="">
                <div class="row">
                  <div class="col-md-2 carta">    </div>
                  <div class="col-md-2 carta">    </div>
                  <div class="col-md-2 carta">    </div>
                  <div class="col-md-2 carta">    </div>
                  <div class="col-md-2 carta quinta"></div>    
                </div>
              </div>
						</div>
					</div>

					

    			</div>
          <div class="container">
            <div class="container">
              <p>Jugador Actual</p>
            </div>
          </div>
    		</div>
    		<div class="col-md-2">
    			<h3>Partidas</h3>
    		</div>
    	</div>
    </div>
  </body>
</html>